{% extends "layout.njk" %}

{% block head %}
  <title>{{ item.name }}</title>
  <link rel="stylesheet" href="/courses.css">
{% endblock %}
{% block header %}
  <img src="https://skylab.rocketseat.com.br/static/media/logo.0ae02df1.svg" alt="logo">
  <div class="links">
    <a href="/">Rocketseat</a>
    <a href="/bootcamp-page" class="selected-page">Bootcamp</a>
    <a href="https://discordapp.com/invite/gCRAFhc" target="_blank">Discord</a>
    <a class="contato">Contato</a>
  </div>
{% endblock %}
{% block content %}
  <section>
     <div class="main">
       
     </div>
  </section>
{% endblock %}
