{% extends "layout.njk" %}

{% block head %}
  <title>{{ item.name }}</title>
  <link rel="stylesheet" href="/courses.css">
{% endblock %}
{% block header %}
  <img src="https://skylab.rocketseat.com.br/static/media/logo.0ae02df1.svg" alt="logo">
  <div class="links">
    <a href="/">Rocketseat</a>
    <a href="/bootcamp-page" class="selected-page">Bootcamp</a>
    <a href="https://discordapp.com/invite/gCRAFhc" target="_blank">Discord</a>
    <a class="contato">Contato</a>
  </div>
{% endblock %}
{% block content %}
  <section>
     <div class="main">
       <div class="main-image">
         <img src="{{ item.image }}" alt="Image do curso {{ item.id }}">
         <img class="rocketseatImage" src="https://rocketseat.com.br/static/images/gostack/logo-rocketseat.svg" alt="">
       </div>
       <div class="main-content">
         <p class="{{ item.color }}">{{ item.strongDescription }}</p>
         <p>{{ item.description }}</p>
       </div>
       <div class="main-button">
         <a class="{{ item.color }}" href="https://www.rocketseat.com.br/{{ item.id }}" target="_blank">Reservar minha vaga</a>
       </div>
     </div>
  </section>
{% endblock %}
