{% extends "layout.njk" %}

{% block head %}
  <title>Rocketseat</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/home.css">
{% endblock %}
{% block header %}
  <div class="main-header">
    <div class="nav">
      <img id="logo" src="https://rocketseat.com.br/static/images/logo-rocketseat.svg" alt="logo">
      <div class="links">
        <a href="/" id="about">Rocketseat</a>
        <a href="/bootcamp-page">Bootcamp</a>
        <a href="https://discordapp.com/invite/gCRAFhc" target="_blank">Discord</a>
        <a class="contato">Contato</a>
      </div>
    </div>
    <div class="contact">
      <a href="https://www.facebook.com/rocketseat" target="_blank"><img src="/facebook.svg" alt="facebook"></a>
      <a href="https://www.instagram.com/rocketseat_oficial/" target="_blank"><img src="/instagram.svg" alt="instagram"></a>
      <a href="https://twitter.com/rocketseat" target="_blank"><img src="/twitter.svg" alt="twitter"></a>
      <a href="https://www.youtube.com/rocketseat" target="_blank"><img src="/youtube.svg" alt="youtube"></a>
      <a id="button-login">Login</a>
    </div>
  </div>
{% endblock %}
{% block content %}
  <div id="wrapper">
    {% for data in wrapper %}
      <img src="{{ data.logoImage }}" alt="Logomarca da {{ data.title }}">
      <h1>{{ data.title }}</h1>
      <h2>{{ data.description }}</h2>
      <a href="{{ data.linkUrl }}" target="_blank">
        <strong>Quero embarcar nesse foguete</strong>
      </a>
    {% endfor %}
  </div>
  <section>
    <h1>As melhores tecnologias em programação</h1>
    <div class="cards">
      {% for card in cards %}
        <div class="card">
          <div class="card-image">
            <img src="{{ card.image }}" alt="Linguagem {{ card.name }}">
          </div>
          <div class="card-content">
            <h2>{{ card.name }}</h2>
            <p class="title">{{ card.title }}</p>
            <p>{{ card.subtitle }}</p>
          </div>
        </div>
      {% endfor %}
    </div>
  </section>
{% endblock %}
{% block modal %}
  <section id="modal">
    <div class="bg-main">
      <a class="close-modal">
        <img src="/close-white-24dp.svg" alt="close">
      </a>
      <div class="bg-login">
        <div class="modal-content">
          <img src="https://skylab.rocketseat.com.br/static/media/login.c725bd03.svg" alt="logomarca">
          <div class="field-group">
            <input type="email" name="email" required="required" placeholder="E-mail" alt="e-mail">
            <input type="password" name="password" required="required" placeholder="Senha" alt="senha">
          </div>
          <a href="#">Esqueci minha senha</a>
          <a href="" class="login">Login</a>
          <a href="#">Não tem uma conta?
            <span>Registre-se</span></a>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
{% block script %}
  <script src="/home.js"></script>
{% endblock %}