<!DOCTYPE html>
<html lang="pt-br">

  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Rocketseat</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/home.css">
    <link rel="icon" href="https://raw.githubusercontent.com/Rocketseat/bootcamp-launchbase-desafios-02/master/desafios/favicon.ico" type="imagem/x-icon">

  </head>
 
  <body>

    <div id="main">

      <header>

        <div class="main-header">
  
          <div class="nav">
            <img id="logo"src="https://rocketseat.com.br/static/images/logo-rocketseat.svg" alt="logo">
            <div class="links">
              <a href="index.htm" id="about">Rocketseat</a>
              <a href="bootcamp-page.htm">Bootcamp</a>
              <a href="https://discordapp.com/invite/gCRAFhc" target="_blank">Discord</a>
              <a href="">Contato</a>
            </div>
          </div>

          
          <div class="contact">
            <a href="https://www.facebook.com/rocketseat" target="_blank"><img src="/img/facebook.svg" alt="facebook"></a>
            <a href="https://www.instagram.com/rocketseat_oficial/" target="_blank"><img src="/img/instagram.svg" alt="instagram"></a>
            <a href="https://twitter.com/rocketseat" target="_blank"><img src="/img/twitter.svg" alt="twitter"></a>
            <a href="https://www.youtube.com/rocketseat" target="_blank"><img src="/img/youtube.svg" alt="youtube"></a>
            <a id="button-login">Login</a>
          </div>
        
        </div>

  
      </header>
  
      <div id="wrapper">
          
        <img src="https://media-exp1.licdn.com/dms/image/C510BAQFHYedTI-oyWA/company-logo_200_200/0?e=1600905600&v=beta&t=GlUqRmwprv-OUQwKtpUvzxtjsL8BP5EMlEfeAt1ZM1Y" alt="logomarca">
        <h1>Rocketseat</h1>
        <h2>Mais do que uma plataforma de educação em tecnologia, uma comunidade incrível de devs em busca do próximo nível</h2>

        <a href="https://rocketseat.com.br/" target="_blank"><strong>Quero embarcar nesse foguete</strong></a>
  
      </div>

      <section>
        <h1>As melhores tecnologias em programação</h1>
        <div class="cards">
          <div class="card">
            <div class="card-image">
              <img src="https://rocketseat.com.br/static/images/update/curso-javascript.svg" alt="">
            </div>
            <div class="card-content">
              <h2>Javascript</h2>
              <p class="title">Domine a linguagem de programação</p>
              <p>Acompanhe o avanço da linguagem</p>
            </div>
          </div>
          <div class="card">
            <div class="card-image">
              <img src="https://rocketseat.com.br/static/images/update/curso-nodejs.svg" alt="">
            </div>
            <div class="card-content">
              <h2>NodeJS</h2>
              <p class="title">Construa a base da sua aplicação no back-end</p>
              <p>Para controlar a lógica e os dados das aplicações web e mobile</p>
            </div>
          </div>
          <div class="card">
            <div class="card-image">
              <img src="https://rocketseat.com.br/static/images/update/curso-reactjs.svg" alt="">
            </div>
            <div class="card-content">
              <h2>ReactJS</h2>
              <p class="title">Desenvolva a versão web da sua aplicação</p>
              <p>Para construir interfaces responsivas e dinâmicas no front-end</p>
            </div>
          </div>
          <div class="card">
            <div class="card-image">
              <img src="https://rocketseat.com.br/static/images/update/curso-react-native.svg" alt="">
            </div>
            <div class="card-content">
              <h2>React Native</h2>
              <p class="title">Crie as versões mobile da sua aplicação</p>
              <p>Para desenvolver apps para iOS e Android com interface nativa</p>
            </div>
          </div>
        </div>

      </section>
      
    </div>

    <section id="modal">

      <div class="bg-main">
        <a class="close-modal">
          <img src="/img/close-white-24dp.svg" alt="close">
        </a>
        <div class="bg-login">
          <div class="modal-content">
            <img src="https://skylab.rocketseat.com.br/static/media/login.c725bd03.svg" alt="logomarca">
            <div class="field-group">
              <input type="email" name="email" required="required" placeholder="E-mail" alt="e-mail">
              <input type="password" name="password" required="required" placeholder="Senha" alt="senha">             
            </div>
            <a href="#">Esqueci minha senha</a>
            <a href="" class="login">Login</a>
            <a href="#">Não tem uma conta? <span>Registre-se</span></a>
          </div>
        </div>
      </div>

    </section>

    <script src="/scripts/index.js"></script>
  </body>

</html>