{% extends "layout.njk" %}

{% block head %}
  <title>Error 404</title>
  <link rel="stylesheet" href="/not-found.css">
{% endblock %}
{% block content %}

  <div>
    <div class="main">
      <p><strong>404.</strong> Error</p>
      <p>A página requisitada não foi encontrada neste servidor.</p>
      <a href="/">Voltar para página principal</a>
    </div>
  </div>

{% endblock %}

